.header {
  text-align: center;
  height: fit-content;
  background-color: #fff;
  padding: 50px 0 20px 0;
}

.judul-header {
  font-size: 25px;
  font-weight: bolder;
}

.row-pemrograman {
  display: flex;
  flex-wrap: wrap;
  /* border: black 1px solid; */
  background-color: #88bcff;
  height: fit-content;
  padding: 25px 0 25px 0;
}

.column-pemrograman {
  border-radius: 5px;
  margin: auto;
  flex: 25%;
  max-width: 30%;
  height: 300px;
  padding: 20px 5px 0 5px;
  background-color: #fff;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.img-thumb {
  border-radius: 10px;
  width: 140px;
  height: 100px;
  background-color: #ffffff;
}

.judul-thumb {
  padding: 10px 20px 0 20px;
  text-align: left;
  color: #167bff;
  font-size: 24px;
}

.isi-thumb {
  text-align: justify;
  color: #000000;
  font-size: 12px;
  padding: 0 20px 0 20px;
}

.btn-thumb {
  color: #fff;
  border-radius: 10px;
  background-color: #167bff;
  width: 75%;
  margin-bottom: 20px;
}
