.header-home {
  background-color: #59a0fe;
  height: 300px;
  color: #ffffff;
  padding: 65px 15px 15px 65px;
  border-radius: 5px;
}

.header-judul {
  font-size: 20px;
  text-align: left;
  /* border: 1px solid black; */
  padding: 0;
  border-radius: 5px;
}

.line {
  width: 560px;
  line-height: normal;
}
